-e git+https://github.com/albcab/blackjax.git@48c61407002b35666571d91d96fab57f9850adea#egg=blackjax
diffrax==0.1.2
distrax==0.1.2
dm_haiku==0.0.7
jax==0.3.14
jaxopt==0.4.2
jaxlib==0.3.14
matplotlib==3.5.1
numpy==1.22.2
numpyro==0.9.0
optax==0.1.3
pandas==1.4.1
scipy==1.8.0
seaborn==0.11.2
